@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}
@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */

body {
background-color:blue;
  
}
.WHAT{
  display:flex;
    flex-direction: column;
}



h1 {
  font-family: "SF Distant Galaxy";
}



/* computer */
@media screen and (min-width: 600px) {

  body {
    background-color:black;
  }
  .WHAT{
    display:flex;
    justify-content: center;
      margin: 1px;
  }
  .HUH{
    display:flex;
    justify-content: center;
      margin: 1px;
  }
  .HMM{
    display:flex;
    justify-content: center;
      margin: 1px;
  }


}


