@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}
@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */

body {
  background-color:blueviolet;
}


.NEW{
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.WHAT{
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.HUH{
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.HMM{
  display:flex;
  flex-direction: column;
  justify-content: center;

}


h1 {
  font-family: "SF Distant Galaxy";
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* computer */
@media screen and (min-width: 600px) {

  body {
    background-color:greenyellow;
  }

  .NEW{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
  .WHAT{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .HUH{
    display:flex;
    flex-direction: row;
    justify-content: center;
   
  }
  .HMM{
    display:flex;
    flex-direction: row;
    justify-content: center;
   
  }


}


